.node {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
}
.node:hover {
  background-color: yellow;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-visited {
  background-color: aqua;
}

.node-wall {
  background-color: dimgrey;
}

.node-shortest-path {
  background-color: hotpink;
}
